alembic==1.10.4
fastapi==0.95.1
psycopg2-binary==2.9.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.2
python-multipart
libgravatar==1.0.4
fastapi-mail
redis
fastapi-limiter==0.1.5
cloudinary==1.32.0
sqlalchemy
pydantic==1.10.7
starlette==0.26.1
uvicorn
streamlit
PyPDF2
langchain
faiss-cpu==1.7.4
openai
tiktoken
requests
pydantic[dotenv]
unstructured
ebooklib
python-pptx
python-docx

