alembic
fastapi
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
libgravatar
fastapi-mail
redis
fastapi-limiter
cloudinary
sqlalchemy
pydantic[dotenv]==1.10
uvicorn
streamlit
PyPDF2
langchain
faiss-cpu==1.7.4
streamlit-extras
openai
tiktoken
betabageldb